%h2 Assembly

%table
  - @buttons.each do |key, value|
    %tr
      %td= button_to value[:t][:text], value[:t][:path], :method => value[:t][:method], :confirm => value[:t][:confirmation]
      %td= button_to value[:c][:text], value[:c][:path], :method => value[:c][:method], :confirm => value[:c][:confirmation]
%br
%br
.password= link_to 'admin', tasks_path
