<%= form_for(@build_report) do |f| %>
  <% if @build_report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@build_report.errors.count, "error") %> prohibited this build_report from being saved:</h2>

      <ul>
      <% @build_report.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
