<h1>Listing build_reports</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @build_reports.each do |build_report| %>
  <tr>
    <td><%= link_to 'Show', build_report %></td>
    <td><%= link_to 'Edit', edit_build_report_path(build_report) %></td>
    <td><%= link_to 'Destroy', build_report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Build report', new_build_report_path %>
