%h2= "Completing Task \##{@task.id}: #{@task.task_type.name}"
%h3 How Many Passed?

- @buttons.each do |key, value|
  = button_to value[:text], {:controller => :tasks, :action => :complete, :task_id => @task.id, :passed => value[:passed], :failed => value[:failed], :tested => :true}, :method => :put, :confirm => value[:confirmation]
